---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import Section from '../Section.astro'
import GitHubProjects from '../GitHubProjects.astro'
import projectsImg from '../../assets/projects.jpg'
import { DATE } from '../../constants/dates'
import { EXPERIENCE, INTERESTING_PROJECTS } from '../../constants/projects'
import { years } from '../../utils/years'
import type { Projects, Skill } from '../../types'

interface Props {
  projects: Projects
  skills: Skill[]
}

const { projects, skills } = Astro.props
const { popular, recent } = projects
---

<Section title='experience'>
  <div
    class='border border-light-gray p-10 lg:flex lg:p-0 rounded-xl overflow-hidden mt-5'
  >
    <Image
      class='w-32 h-32 mx-auto rounded-full lg:mx-0 lg:rounded-none lg:w-52 lg:h-auto object-cover'
      src={projectsImg}
      alt='experience'
    />
    <div class='pt-6 lg:p-8 items-center'>
      <p class='text-justify font-bold'>
        With over {years(DATE.PROFESSIONAL)} years of professional experience, I
        was extremely fortunate to have had the opportunity to work on exciting
        projects with very talented people.
      </p>
      <p class='text-justify pt-5'>
        I'm very proud of all that I have accomplished so far. It brings me joy
        to know that I have had a real impact, not only on the end result but
        also on the people I have collaborated with and end-users. Whether
        developing small or large projects, improving the experience of my
        colleagues and end-users, or solving complex problems, I always strive
        to give my best and have fun doing it.
        <br />
         In addition to my professional work, I constantly challenge myself with
        personal projects to continue learning and growing my skills.
        <br /><br />I can't wait to see what comes next!
      </p>
    </div>
  </div>
  <div class='flex mt-5'>
    <Icon name='fa6-solid:briefcase' class='inline-block h-7' />
    <h3 class='text-left text-xl ml-2'>Work Experience</h3>
  </div>
  {
    EXPERIENCE.map(({ name, image, role, date, description }) => (
      <div class='border border-light-gray p-10 lg:flex lg:p-0 rounded-xl overflow-hidden mt-5'>
        <Image class='w-16 h-16 lg:mt-5 lg:ml-5' src={image} alt={name} />
        <div class='pt-6 lg:p-5 items-center'>
          <p class='text-left font-bold'>{name}</p>
          <p class='text-left font-bold'>{role}</p>
          <p class='text-left text-xs text-gray-300'>{date}</p>
          {description && (
            <ul class='text-justify pt-5 list-disc'>
              {description.split('\n').map(item => (
                <li class='text-left text-sm'>{item}</li>
              ))}
            </ul>
          )}
        </div>
      </div>
    ))
  }
  <div class='flex mt-5 items-center'>
    <Icon name='fa6-solid:lightbulb' class='inline-block h-7 w-7' />
    <h3 class='text-left text-xl ml-2'>Interesting Projects</h3>
  </div>
  <p class='text-justify pt-5'>
    Over the years, I have been approached with a variety of unique challenges
    and ideas, as well as coming up with my own. Through these experiences, I
    have had the opportunity to work on some truly interesting projects, even
    with limited resources such as time. These experiences have helped shape me
    into the versatile and creative developer I am today.
  </p>
  {
    INTERESTING_PROJECTS.map(({ name, description }) => (
      <details>
        <summary class='text-left text-sm font-bold pt-2 cursor-pointer'>
          {name}
        </summary>
        <p class='text-sm text-justify ml-1 pl-3 mt-1 mb-2 border-l'>
          {description}
        </p>
      </details>
    ))
  }
  {
    (popular.length > 0 || recent.length > 0) && (
      <div class='flex my-5 items-center'>
        <Icon name='fa6-brands:github' class='inline-block h-7 w-7' />
        <h3 class='text-left text-xl ml-2'>GitHub Projects</h3>
      </div>
    )
  }
  {
    popular.length > 0 && (
      <>
        <div class='flex mb-5 justify-center items-center'>
          <Icon name='fa6-solid:star' class='inline-block w-5 h-5' />
          <h4 class='text-lg ml-2'>Popular</h4>
        </div>
        <GitHubProjects projects={popular} {skills} />
      </>
    )
  }
  {
    recent.length > 0 && (
      <>
        <div class='flex mt-10 mb-5 justify-center items-center'>
          <Icon name='fa6-solid:newspaper' class='inline-block w-5 h-5' />
          <h4 class='text-lg ml-2'>Recent Updates</h4>
        </div>
        <GitHubProjects projects={recent} {skills} />
      </>
    )
  }
</Section>
