---
import Section from "./Section.astro";
import { fetchEvents } from "../api/events";
import { Icon } from "astro-icon/components";
import type { Event } from "../types";
import ScrollFadeIn from "./ScrollFadeIn.astro";

const events = await fetchEvents()

const view = (event: Event) => {
  if (event.type === 'star')
    return {
      href: event.url,
      icon: 'fa6-solid:star',
      color: 'text-yellow-500',
      title: `Starred ${event.repo}`
    }

  if (event.type === 'repo_created')
    return {
      href: event.url,
      icon: 'fa6-brands:github',
      color: 'text-neutral-200',
      title: `New repository: ${event.repo}`
    }

  if (event.type === 'pr') {
    return {
      href: event.url,
      icon: 'fa6-solid:code-pull-request',
      color: event.action === 'closed' ? 'text-red-500' : 'text-green-500',
      title: `${event.title} (#${event.number})`
    }
  }

  if (event.type === 'review') {
    const icon =
      event.state === 'APPROVED'
        ? 'fa6-solid:check'
        : event.state === 'CHANGES_REQUESTED'
          ? 'fa6-solid:xmark'
          : 'fa6-solid:comment'

    const color =
      event.state === 'APPROVED'
        ? 'text-green-500'
        : event.state === 'CHANGES_REQUESTED'
          ? 'text-red-500'
          : 'text-neutral-200'

    return { href: event.url, icon, color, title: `${event.title} (#${event.number})` }
  }

  return {
    href: event.url,
    icon: 'fa6-solid:code-merge',
    color: 'text-purple-500',
    title: event.title
  }
}
---

{events.length > 0 && (
  <Section title="recent">
    <p class='pt-5 text-left'>
      A lot of my work is public on open-source GitHub repositories.
    </p>
    <p class="text-left">
      You can check some of my recent activity below, updated daily.
    </p>
    <ScrollFadeIn list>
      <ul class="flex flex-col my-5" is="scroll-fade-in">
        {events.map(event => {
          const { href, icon, color, title } = view(event)

          return (
            <li class="flex">
              <a
                href={href}
                target="_blank"
                class="group p-1 flex items-center gap-2 whitespace-nowrap overflow-hidden"
              >
                <Icon name={icon} class={`w-2 h-2 md:w-4 md:h-4 ${color}`} />
                <h4 class="text-xs overflow-hidden text-ellipsis md:text-sm group-hover:underline group-focus-within:underline">
                  {title}
                </h4>
                <span class="hidden md:block text-xs text-neutral-400">{event.repo}</span>
              </a>
            </li>
          )
        })}
      </ul>
    </ScrollFadeIn>
  </Section>
)}