---
import { ViewTransitions } from 'astro:transitions'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import Header from '../components/layout/Header.astro'
import Footer from '../components/layout/Footer.astro'
import AI from '../components/ai/AI.svelte'
import aiImg from '../assets/ai.png'
import aboutImg from '../assets/photos/about.jpg'

const WEBSITE = {
  lang: 'en',
  title: 'Nuno Góis - Full Stack Developer',
  description:
    'Portuguese Full Stack Developer with more than a decade of expertise. Proficient in every phase of software development.',
  url: 'https://www.nunogois.com',
  twitter: '@nunogois_dev'
}

interface Props {
  title?: string
  home?: boolean
}

const { title, home } = Astro.props
const mainClass = home ? '' : 'pt-20 print:pt-0'
const layoutTitle = title ? `${WEBSITE.title} - ${title}` : WEBSITE.title
---

<!doctype html>
<html lang={WEBSITE.lang} class='bg-background text-white scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name="theme-color" content="#13151a" />
    <title>{layoutTitle}</title>
    <meta name='description' content={WEBSITE.description} />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="robots"
      content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <meta
      property="og:type"
      prefix="http://ogp.me/ns# website: http://ogp.me/ns/website#"
      content="website"
    />
    <meta property="og:title" prefix="og: http://ogp.me/ns#" content={WEBSITE.title} />
    <meta property="og:description" prefix="og: http://ogp.me/ns#" content={WEBSITE.description} />
    <meta
      property="og:image"
      prefix="og: http://ogp.me/ns#"
      content={WEBSITE.url + '/thumbnail.png'}
    />
    <meta property="og:url" prefix="og: http://ogp.me/ns#" content={WEBSITE.url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={WEBSITE.title} />
    <meta name="twitter:description" content={WEBSITE.description} />
    <meta name="twitter:image" content={WEBSITE.url + '/thumbnail.png'} />
    <meta name="twitter:url" content={WEBSITE.url} />
    <meta name="twitter:site" content={WEBSITE.twitter} />
    <meta name="twitter:creator" content={WEBSITE.twitter} />
    <meta name='generator' content={Astro.generator} />

    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main class={mainClass}>
      <slot />
    </main>
    <AI client:load>
      <Icon name="fa6-solid:xmark" slot="close-icon"/>
      <Icon name="fa6-solid:circle-arrow-right" class="w-6 h-6" slot="send-icon" />
      <Image src={aiImg} class="w-16 h-16" alt="AI" slot="image" />
      <Image src={aiImg} class="w-12 h-12" alt="AI" slot="image-small" />
      <Image src={aboutImg} class="w-8 h-8 rounded-full" alt="Nuno" slot="ai-icon" />
      <Icon name="fa6-solid:user" class="p-1 w-8 h-8 rounded-full bg-neutral-900" slot="user-icon" />
    </AI>
    <Footer />
  </body>
</html>
