---
import { ViewTransitions } from 'astro:transitions'
import Header from '../components/layout/Header.astro'
import Footer from '../components/layout/Footer.astro'

const WEBSITE_TITLE = 'Nuno Góis - Full Stack Developer'

interface Props {
  title?: string
  home?: boolean
}

const { title, home } = Astro.props
const mainClass = home ? '' : 'pt-20'
const layoutTitle = title ? `${WEBSITE_TITLE} - ${title}` : WEBSITE_TITLE
---

<!doctype html>
<html lang='en' class='bg-background text-white scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{layoutTitle}</title>

    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main class={mainClass}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
